.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.wrap section {
  width: 300px;
}

.numRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.numRow:last-child {
  grid-template-columns: 2.148fr 1fr 1fr;
}

.num {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  /* margin-right: 1rem; */
}
