.wrap {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;

  @media (max-width: 1024px) {
    padding: 1rem;
  }
}

.title {
  margin-bottom: 0.5rem;
}

.searchList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2px;
  background-color: rgba(58, 58, 58, 0.799);
  /* padding: ; */
  border: 1px solid rgb(41, 41, 41);
  border-radius: 8px;
  overflow-y: auto;
  height: 10rem;
}

.adr {
  /* position: fixed; */
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 1rem;
}

.adr:hover {
  background-color: rgba(60, 60, 60, 0.799);
}
